# Donation Account details for informational purpose, visible to users.
DONATION_ACCOUNT_NUMBER=""
DONATION_ACCOUNT_BANK=""
DONATION_ACCOUNT_NAME=""
# Donation PromptPay ID for generating QR code, integer only.
# Typeof Phone number (10 digits), National ID number (13 digits), or e-Wallet ID (15 digits).
DONATION_PROMPTPAY_ID=0123456789

# Endpoint
API_ENDPOINT = ""

GOOGLE_Private_key = ""
GOOGLE_Client_email = ""

GOOGLE_SpreadsheetId = ""
GOOGLE_DriveId = ""
GOOGLE_Spreadsheet_rangeSheet = ""